@import "../palette";

.container {
  padding: 16px;

  .chart {
    background: blue;

    .line {
      fill: none;
      stroke: none;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-width: 3;

      &.outside {
        stroke: $dark;
      }

      &.inside {
        stroke: $light;
      }
    }
  }
}
